[2016-11-26 16:35] Gericop opened #2 "Slight vertical offset of X"
The X symbol has a slight vertical offset downwards meaning it's not centered.

[2016-11-26 21:14] JoaquimLey commented on #2
Hello @Gericop thanks for reporting, can you please give me a SS of this issue? Where do you find the offset?

[2016-11-26 21:25] Gericop commented on #2
![faboptions_bug_cut](https://cloud.githubusercontent.com/assets/5181621/20643961/0752a1d2-b427-11e6-9ece-d87c84436ebb.png)

The green lines mark the top and bottom of the layout, and blue is the center line. As you can see the X's middlepoint is below the blue line.

[2016-11-26 21:30] JoaquimLey commented on #2
Hi thanks for taking the time, I'll get to it tomorrow 👍.

[2016-11-27 14:30] #2 closed

[2016-11-27 14:30] JoaquimLey commented on #2
Fixed on version 1.0.1

@Gericop thanks for reporting.

[2016-11-29 05:49] derrysd opened #4 "What is the minimum SDK?"

[2016-11-29 08:29] greedbird opened #5 "i want to make the view display on the vertical direction."
How to set the vertical direction of the control display? Hoping to get your help.

[2016-11-29 08:31] greedbird commented on #4
21

[2016-11-29 09:33] JoaquimLey commented on #4
It's on the README.

21, but I intend to backport to 14.

[2016-11-29 09:33] #4 closed

[2016-11-29 13:29] JoaquimLey commented on #5
@greedbird this is something I've been debating if I should set the direction or keep it as close to the concept as possible.
Of course having one component that does it all is better, but I would probably create another component.

[2016-11-29 15:20] hamberluo opened #6 "minSdkVersion 21 and I leave"

[2016-11-29 15:27] JoaquimLey commented on #6
@hamberluo can you be more specific?

[2016-11-29 15:48] #6 closed

[2016-11-29 17:21] JoaquimLey opened #7 "Backport to API 14+"
The current implementation has a very demanding minSdkVersion 21 which severely limits usage.

## Context

Most of the limitations are in the Vector Drawable Animations

## Process

1. Set minSdk to 14 in `build.gradle`
2. Verify minSdk related  errors
3. Port/Limit functionalities for lower APIs

## Expected result

The library should be usable for API 14+

[2016-11-29 19:11] Jawnnypoo commented on #7
Support library vector drawable compat does not support path animation, so this unfortunately will be a bit of work.

[2016-11-29 21:48] JoaquimLey commented on #7
Yes you are right @Jawnnypoo the idea is not to have the same features as the >21 but to have a backport, some functionalities are lost due to lack of support of the framework. 👍

[2016-11-29 22:16] alashow opened #8 "Coordinator behavior bug"
## Context
In sample app, after clicking snackbar test from menu, fab animates up, and gets back when SnackBar goes down automatically. But when user hides SnackBar manually, with swiping to right, fab button doesn't get back, it stays in wrong position.

## Process

1. Open Sample app
2. Click "Snackbar test" option from toolbar menu
3. Swipe right snackbar to hide

## Expected result

Fab button

[2016-11-29 22:28] JoaquimLey commented on #8
@alashow thanks for reporting, I've confirmed this bug, shouldn't be too hard to fix ;).

[2016-11-30 08:28] greedbird commented on #5
Thank you for your answers and look forward to your new component.

[2016-12-01 13:05] #8 closed

[2016-12-09 07:08] BinaryWaves opened #11 "Warning spam"
Hi, I am getting a huge amount of warnings when using your library..

12-09 02:06:31.678 25296-25296/XXX W/View: requestLayout() improperly called by android.view.View{de9fb46 V.ED..... ......I. 0,70-389,186 #7f1000b7 app:id/background} during layout: running second layout pass
12-09 02:06:31.695 25296-25296/XXX W/View: requestLayout() improperly called by android.view.View{b3b91e6 V.ED..... .....

[2016-12-09 10:33] JoaquimLey commented on #11
Thanks for opening this issue, I've validated and will work on fixing soon 👍

[2016-12-09 10:54] #11 closed

[2016-12-10 01:49] BinaryWaves commented on #11
Thanks for the quick response and fix! I will test it out in a few minutes :) Also I really like the style, can I suggest a few features/technical requests?

[2016-12-10 02:03] JoaquimLey commented on #11
Hi @BinaryWaves
I'm the one who should thank you for reporting, sure just open an issue for each for easier management. 👍

[2016-12-10 02:09] BinaryWaves commented on #11
No problem, I like your library and would like to use it in my app :) And in that case I might as well help test it and make it better along the way :)

[2016-12-10 02:20] BinaryWaves opened #14 "Progress circle"
// Feature request
[Something like this library](https://github.com/DmitryMalkovich/circular-with-floating-action-button) would be awesome for the center button, just be sure to increase the side margin on the center button by the new extra few dp.

Edit:
Or alternatively something like the center button being able to display an animated drawable or something. [A lot of potentially cool use cases]

[2016-12-10 02:28] BinaryWaves opened #15 "Adjustable menu item margin"
// Feature request
The sub-items when clicking the center button can feel a bit cramped. It would be nice to optionally set the horizontal margin between fab menu items, the most convenient way would be through the xml entry. I think the vertical is fine, the horizontal spread is just the hickup >.<

[2016-12-10 10:06] JoaquimLey commented on #15
Thanks for your suggestion @BinaryWaves, this goes against the original concept, if this gets enough +1's I could expose an API for that but maybe you could suggest a different default spacing.

Have you had any difficulties on selecting your button?

[2016-12-10 20:18] BinaryWaves commented on #15
I haven't had difficulties but I have like skeleton fingers haha. I can see where people with larger fingers might have trouble selecting a menu item and accidentally touching another. possibly just 2dp of margin on both sides of a menu item would be a good default.

[2016-12-11 02:31] BinaryWaves opened #16 "Programmatically Set menu item color"
// Feature request

Use Case: I would like to implement an up/down vote system and it would be nice to have the up/down icons able to have their colors changed indicated the user has upvoted or downvoted the current item.

[2016-12-12 22:04] JoaquimLey commented on #15
Hello @BinaryWaves thanks once again for your suggestion. This is the concept based spacing but if this gets enough +1's I might put it on the roadmap. 😎

[2016-12-12 22:05] JoaquimLey commented on #14
Thanks for the suggestion @BinaryWaves, this change would require a lot of effort, I can see this could be interesting for some applications, I'll take it into consideration.

[2016-12-12 22:06] JoaquimLey commented on #16
I believe this change could be done in a somewhat easy way, I would suggest you to contribute with a PR, this is a very specific use-case but if you require it and if you can submit a PR and both you and the rest of the community would benefit from your work 😀.

[2017-01-01 18:04] zboing opened #17 "Menu items are shown if menu not opened"
If the user selects the line below to be used in the activity, he will notice that the menu items are shown although the menu is closed (those are not appearing if the menu is added inside the xml)
`fabOptions.setButtonsMenu(this, R.menu.menu_faboptions);`
https://postimg.org/image/8x7ycjl07/

[2017-01-03 18:10] JoaquimLey commented on #17
Thanks for reporting @zboing.
I'll check it later today.

[2017-01-06 13:10] liyinyin commented on #7
Hei, Could you publish the API 14+ version to Bintray? Now, I must download the source. Thank you very mush. @JoaquimLey

[2017-01-07 17:56] JoaquimLey commented on #7
Hello @liyinyin I've actually had some corner cases with this PR, I'm just reviewing everything before publishing a new version.
Sorry I've been really busy and haven't been able to contribute as quickly as I wished.

[2017-01-11 01:06] liyinyin commented on #7
@JoaquimLey Of course. You need to finish you job first. Thank you for your reply. Good luck.

[2017-01-12 15:40] mtaandaoio commented on #7
Good luck, man. Been having trouble compiling on <21 devices. works okay on v5.1 up, although when you start an app the menus are open, and are over the keyboard when typing. Adding listeners should solve this, no?

[2017-01-12 16:35] JoaquimLey commented on #7
Yes I know, @mtaandaoio Thanks for reporting 👍 that should be easy to fix.

[2017-01-13 08:58] idiotjr commented on #17
I'm also facing this bug.
Additionally, even when the menu icons are hidden, click on that menu item is working.
Can you please try to fix it soon. I love this library and want to use it in my app, but can't use it with this bug persisting.

Thanks for the wonderful library!

[2017-01-13 18:07] JoaquimLey commented on #17
@idiotjr I'm currently traveling so it's been quite hard for me to get to it.
I'll be back home Sunday and hopefully, I'll have the time to finally close this issue, thanks for the kind words and patience.

[2017-01-14 14:17] idiotjr commented on #17
@JoaquimLey Thank you. Looking forward to Sunday ☜(⌒▽⌒)☞

[2017-01-19 08:37] JoaquimLey commented on #7
https://android.jlelse.eu/animatedvectordrawablecompat-3d9568727c53#.yt10kdumwhttps://android.jlelse.eu/animatedvectordrawablecompat-3d9568727c53#.yt10kdumw

[2017-01-19 19:15] JoaquimLey commented on #17
Fixed, available on next release.

[2017-01-19 19:15] #17 closed

[2017-01-21 16:33] idiotjr commented on #17
thnx

[2017-01-22 10:40] enricocid opened #20 "Wrong documentation"
fabOptions.setButtonsMenu requires context. It must be changed to (I can't send You pull request)::

fabOptions.setButtonsMenu(**yourActivity.this**, R.menu.your_fab_buttons);

[2017-01-22 16:06] idiotjr commented on #17
don't mean to annoy you, but being a noob, i'd like to know if u have already updated it? if so how do i update dependency or will be updated automatically?
-thnx for your time

[2017-01-25 17:57] JoaquimLey commented on #17
Hey no problem! You better of asking then dwelling, I haven't released the new version, you should expect this bug fixed on version 1.1.0 ;)

[2017-01-25 17:58] JoaquimLey commented on #20
Thanks for reporting, this will be correct in the next release (It should be available soon), thanks!

[2017-01-25 17:59] JoaquimLey commented on #14
I'm closing this since it would be almost impossible for me to have the time to code with API14.

[2017-01-25 17:59] #14 closed

[2017-01-25 18:04] idiotjr commented on #17
thnx. fingers crossed for the next update

[2017-01-25 18:07] JoaquimLey commented on #16
This will be available on the next release ;)

[2017-01-25 19:06] enricocid commented on #20
No problem:)

[2017-01-25 19:06] #20 closed

[2017-01-27 23:56] #7 closed

[2017-01-27 23:56] #16 closed

[2017-01-31 09:25] idiotjr opened #25 "Menu item is clickable even when it hidden"
Hi. I've addressed this issue earlier and still haven't got a fix.
Clicking on the respective positions of menus, triggers onlick even if the menu is hidden.
Please fix this.

[2017-01-31 11:08] #25 closed

[2017-01-31 11:10] idiotjr commented on #25
Okay thank you. sorry for the repost

[2017-01-31 11:33] JoaquimLey commented on #25
No problem @idiotjr its fixed now, version 1.1.2 👍

[2017-02-06 00:32] Technologx opened #28 "Noob here seeking some support"
I'm trying to add intents which hopefully should switch activities.

## Context

So the issue I'm having and I have no idea what to do about it is that Android Studio is saying

So would someone be able to help me get this fixed? I'm completely new to Android coding and I'm trying to teach myself by looking at code and Google searching. Also do I need to add the fabOptions to every activities java

[2017-02-06 09:56] JoaquimLey commented on #28
Hello @Technologx this type of questions are better answered on Stackoverflow.
I recommend you ask there and give a little more context to where and when that error happens. 👍

[2017-02-06 09:56] #28 closed

[2017-02-06 10:17] Technologx commented on #28
@JoaquimLey I figured it out but when I added chanelog code & rate this app code it quit working. How many buttons can this handle? Also I try to avoid Stackoverflow since I can't seem to ask a question they want you to.

[2017-02-06 18:52] JoaquimLey commented on #28
I cant understand what you issue is @Technologx, sorry but you really need to give some context. Also I'm not aware of **your** app or what it does. I've only seen the code you posted.

This will handle as many as you add but you **shouldn't** use more then 4~6.

[2017-02-16 04:58] mtaandaoio commented on #5
Hello, I must admit, this faboptions really has saved my ass. I have used it in 4 apps already and it works smoothly. If only the menu could open vertically, so it could be placed anywhere and not necessarily at the bottom. (Scenario: I have a listview of profiles, and another activity with profile details. I'm considering adding faboptions for contacting the profile user, i.e call, email, et al.

[2017-02-16 18:36] JoaquimLey commented on #5
Hi @mtaandaoio thanks for the kind words, I'm really happy to know this lib has helped you.

Regarding the feature per-se I'll try to code it asap, notice it's a pretty big feature since this has to work both on compile and runtime :)

[2017-02-23 06:10] surge1 opened #29 "Set background not working in N"
I've noticed that when i try to put the FAB over another view in a frame layout the background of the FAB is a solid square.

changing the background color of the view in XML or in Java does nothing

[2017-02-23 07:09] surge1 commented on #29
Found the issue while trying to make my own version of this. your container for the various components need to be transparent

[2017-02-23 13:14] JoaquimLey commented on #29
Can you please post a screenshot?

[2017-03-03 15:27] praina opened #30 "Undesirable white background behind the FAB"
First of all, thank you for this library it is a great one.

Now on to the bug.
There is an unnecessary white background coming behind the FAB and it is also blocking the background of the buttons.

## Expected result

I expected the FAB with a group of buttons as shown in the gif, I am getting the buttons but I am also getting undesirable white background which is obstructing the other view.

htt

[2017-03-05 12:36] JoaquimLey commented on #30
Can you confirm this only happens in >=N?

Possible duplicate of #29

[2017-03-05 12:36] JoaquimLey commented on #15
Closing since there was no development.

[2017-03-05 12:36] #15 closed

[2017-03-05 13:42] praina commented on #30
I am using Marshmallow in my mobile device so it has to be a case for <N as well. No idea how it will work on pre-Marshmallow devices.

[2017-03-09 16:16] JoaquimLey commented on #30
Well, I'm not able to reproduce this... I've tinted my sample app with a black background and everything looks fine.

![screenshot_1489076102](https://cloud.githubusercontent.com/assets/6922748/23759101/b10b83b2-04e3-11e7-96d9-306adfcdf69b.png)

![screenshot_1489076168](https://cloud.githubusercontent.com/assets/6922748/23759110/b9462898-04e3-11e7-9939-714d65732e16.png)

[2017-03-09 16:17] JoaquimLey commented on #30
You should investigate you XML, re-open this issue if required.

[2017-03-09 16:17] #30 closed

[2017-03-09 16:17] #29 closed

[2017-04-14 12:08] PawelPleskaczynski opened #32 "[request] Small Fab"
Hello, would it be possible for you to add an option to make the Fab small? I'd like it to be as small as high is the bar with buttons :)

[2017-04-14 13:34] JoaquimLey commented on #32
Hi @PawelPleskaczynski Thanks for the suggestion, you can actually archive this yourself, just put the height or extend the class and set your own size :)

[2017-04-14 13:56] PawelPleskaczynski commented on #32
Thank you :)

[2017-04-15 20:21] JoaquimLey commented on #32
@PawelPleskaczynski but were you able to archive what you wanted?

[2017-04-15 20:23] PawelPleskaczynski commented on #32
I haven't tried it yet

[2017-04-15 21:33] JoaquimLey commented on #32
@PawelPleskaczynski but were you able to archive what you wanted?

[2017-04-15 21:34] JoaquimLey commented on #32
Ok I'm closing this issue, you're always welcome to leave feedback here once you do, if you can't I'll try to help you out and reopen this issue 👍

[2017-04-15 21:34] #32 closed

[2017-04-17 13:05] timpamungkas opened #33 "OnClick Listener"
Hi Joaquim, it's nice to have your fab options. However, I can;t make the on click listener works. Can you give me a sample code?

Thank you

Here is my MainActivity.java

    public class MainActivity extends AppCompatActivity {

        @Override
        protected void onCreate(Bundle savedInstanceState) {
            super.onCreate(savedInstanceState);
            setContentView(R.layout.activi

[2017-04-17 13:13] timpamungkas commented on #33
ooops... my mistake, already found your sample folder. Sorry

[2017-04-17 13:13] #33 closed

[2017-05-01 15:44] pzienowicz opened #35 "Manually open and close menu"
Hi,

Is it possible to make *open* and *close* method as public?
I want to close menu when clicking other element in activity and this function will be helpful.

[2017-05-08 10:14] JoaquimLey commented on #35
Hello @pzienowicz
Well, this goes a bit against the guidelines. I know the component isn't exactly following but:

Create a custom `FabOptions` (extend) and have a `public` method calling the `open`/`close` private methods.

I wanted to keep it away from the public API since it might need changes (new params etc).

What do you think?

[2017-05-08 10:30] pzienowicz commented on #35
Hi @JoaquimLey.

Yes, I was thinking about this way to resolve it and of course it is correct and easy to achieve.
But I think many devs want to manage the state of fabOptions in their code so you could make it easier :)

You could also think about "`onBlur`" feature - when clicked outside the menu, it should be closed automatically. This is exactly what I need to do, so if this will be implemente

[2017-05-13 21:29] JoaquimLey commented on #35
@pzienowicz Sorry for the late response! I missed the notification ☮️ .
Thank you for the kind words 🙏 .

Well, I do get where you coming from and I can see how useful it would be but, that's actually a bit outside of the scope of the view, I would need to handle touch events that are outside of the view, as you can imagine that _may_ cause some strange issues.
Sorry but I'm a bit hesitant on open

[2017-07-07 09:05] J-Jamet opened #36 "Incorrect display after replacing fragment"
Hello,
There is a display error when the fabOptions is rebuilt into a new fragment, let me explain :
- Everything is fine when it is in the first display of the fragment.
![capture d ecran de 2017-07-07 10-47-51](https://user-images.githubusercontent.com/19224038/27950684-883a9554-6302-11e7-8adf-2568ec7116ca.png)
- But there is a problem displaying the icons when I replace by the same fragment :

[2017-07-07 09:07] J-Jamet commented on #36
Otherwise good library. I will look at the source code if I have the time. ;)

[2017-07-07 14:57] JoaquimLey commented on #36
First of all thanks for the kind words 👊

I'm not sure I follow what your problem here is, I can see the bug in the second image but you gotta give me a little more context so I can help you. How are you inflating the menu?

Like yourself, I don't have much spare time so I would appreciate if you could elaborate on your question so we can get to a solution faster. 🙃

[2017-07-07 18:01] J-Jamet commented on #36
Of course, for the collaboration, I know what it is to make libraries. ;) I will try to be precise, you have access to the source code.

The menu is inflating programmatically in XML
[code]
and in my layout FabOptions is in LinearLayout, below RecyclerView [Source code](https://github.com/Kunzisoft/RememBirthday/blob/master/app/src/main/res/layout/fragment_details_buddy.xml)
[code]

It's weird, be

[2017-07-10 20:47] J-Jamet commented on #36
So I have completely change my code and I no longer use your library. :/
I think the bug comes from CoordinatorLayout and CollapsingToolbarLayout behind the fragment who contains FabOptions view but I'm not sure.
You can close the issue if you want, but I may add some functionality to your library later.
Have a nice day

[2017-07-10 20:57] JoaquimLey commented on #36
Cool what alternative did you go with?

[2017-07-11 11:29] J-Jamet commented on #36
I created a menu view that I animate with a https://github.com/ozodrukh/CircularReveal. But it's specific to my layout. :/

[2017-07-11 20:33] JoaquimLey commented on #36
I know maybe it's too little too late, but you could've reset your buttons when the `Activity` is recreated, I'm thinking about doing another release and I'll probably expose #35  the `open()` and  `close()` methods, that might help to better handle the view.

[2017-07-31 15:00] MazenSenih opened #37 "Adding menu programmatically"
Hi, great job in here man!
So I would like to customize the menu at run time by letting the user specify which actions and apps to launch, is this possible?

[2017-08-01 12:25] JoaquimLey commented on #37
Hello thanks ;)

You can see in the [How to use](https://github.com/JoaquimLey/faboptions#how-to-use) section of the ReadMe, use `setButtonsMenu()`

[2017-08-01 12:25] #36 closed

[2017-08-01 12:31] MazenSenih commented on #37
Hi thanks for your response,
Yeah i saw that, I was thinking about changing the menu dynamically by the user so the icon and the click action will get changed too, I guess I should assign the menu resource at programming and handle the user custom needs at runtime to modify the menu as fits.

[2017-08-02 12:31] JoaquimLey commented on #37
No problem Mazen ;)

Yes I guess so, using a menu resource just makes everything simpler if you want such a custom implementation I would recommend the same implementation as you said, just handle your cases at runtime ;)

[2017-08-03 18:31] #37 closed

[2017-08-08 11:08] ayltai opened #38 "Button icons are shown after expanding and collapsing FabOptions quickly"
## Context
There will be some UI display issue if FabOptions is clicked repeatedly and quickly

## Process

1. Define menu XML for FabOptions
2. Add FabOptions using XML declaration in layout XML
3. Run the app
4. Tap FabOptions once to expand it
5. Quickly tap FabOptions again to collapse it

![buttons-expanded](https://user-images.githubusercontent.com/5842459/29069278-e12ae8ca-7c6c-11e7-815d-7a

[2017-09-02 16:26] litong1314 opened #40 "Customize icons"
hi,

Is it possible to customize icons of ic_overflow and ic_close?

[2017-09-04 09:01] JoaquimLey commented on #40
Hi there,
No not at the moment, it is baked in the element.

[2017-09-05 13:13] ayltai commented on #38
Closing this as PR https://github.com/JoaquimLey/faboptions/pull/39 is merged

[2017-09-05 13:13] #38 closed

[2017-10-20 19:19] JoaquimLey commented on #40
feel free to submit a PR and referencing this issue 👍

[2017-10-20 19:19] #40 closed

[2017-12-04 14:47] pourya0111 opened #42 "can it be show on home screen as a floating shortcut?"
hey there i saw this library and honestly its what i looking for for almost a year
but as i'm new in android studio
i have a question
can this fab be shown on home screen as a floating shortcut using service?

[2017-12-06 09:34] JoaquimLey commented on #42
Hi @pourya0111
I'm glad this library is useful for you, the implementation you are requesting I'm not 100% sure it'll work, but the library doesn't really how it's used :).

[2017-12-06 09:34] #42 closed

[2018-01-14 06:14] sohail77 opened #43 "No static method getScreenWidthDp Error"
I implemented the library as in the sample and whenever i start the activity containing the fab my app force closes displaying the following error

`E/AndroidRuntime: FATAL EXCEPTION: main
                  Process: com.sohail.spoonfulofhyderabad, PID: 15775
                  java.lang.NoSuchMethodError: No static method getScreenWidthDp(Landroid/content/res/Resources;)I in class Landroid/support/

[2018-01-15 06:24] sohail77 commented on #43
I found the solution, there was no issue with the library I just needed to update my support dependency in gradle

[2018-01-15 06:24] #43 closed

[2018-02-20 19:15] deltamish commented on #43
Update to which version ? Could brief a little more on the solution . I am facing the same issue

[2018-02-21 10:06] JoaquimLey commented on #43
@deltamish can you tell me your support library version?

[2018-03-03 12:13] #35 closed

[2018-04-02 04:50] khalid-mahmood opened #45 "Menu not close on backPressed()"
Menu is not closed if it is open on back button pressed in activity or fragment

[2018-04-02 16:17] JoaquimLey commented on #45
Hello @khalid-mahmood,

Yes, the component shouldn't enforce any behavior, you as the developer using the library should handle that case. :)

[2018-04-04 10:27] #45 closed

[2018-05-30 06:38] dondeepak opened #46 "A problem occurred evaluating script."
how to fix this
A problem occurred evaluating script.

org.gradle.api.ProjectConfigurationException: A problem occurred configuring project ':library'.
	at org.gradle.configuration.project.LifecycleProjectEvaluator.addConfigurationFailure(LifecycleProjectEvaluator.java:87)
	at org.gradle.configuration.project.LifecycleProjectEvaluator.doConfigure(LifecycleProjectEvaluator.java:65)
	at org.gradle.c

[2018-05-30 09:17] JoaquimLey commented on #46
You'll need to give me more context, just dumping the stacktrace doesn't help too much :)

[2018-05-30 13:49] dondeepak commented on #46
opening faboptions project in android studio gives this error

[2018-05-30 20:12] JoaquimLey commented on #46
What's your Android Studio version, gradle plugin and SDK?

[2018-05-31 08:05] dondeepak commented on #46
Android Studio 3.1.2
gradle:3.1.2
sdk  4.1 to android p

[2018-05-31 08:27] JoaquimLey commented on #5
I need to take a new approach to how the elements would respond, I will create a new issue and reference this one.

[2018-05-31 08:27] #5 closed

[2018-05-31 08:34] JoaquimLey commented on #46
Ok, thanks for the report
I'll make sure to check what's happening and get back to you.

In the meantime, checkout to the latest release branch (I haven't yet merged, might be it)
- https://github.com/JoaquimLey/faboptions/tree/release/version_1.2.0

[2018-06-04 08:19] JoaquimLey commented on #46
Can you pull from the `development` branch and see if the problem still persists?

I've tried on my end and everything works fine.

[2018-06-07 13:10] dondeepak commented on #46
what is development branch ?? i am new to android app development

[2018-06-07 13:45] JoaquimLey commented on #46
This is a `git` thing.

If you aren't savvy then the easiest way would delete the folder and re-download the project.

[2018-06-10 13:16] JoaquimLey commented on #46
@dondeepak do you think I can close this issue now?

[2018-06-14 10:47] #46 closed

[2018-07-23 07:31] th-m commented on #43
I have this same issue after adding `react-native-firebase` to my `react-native` project. Can someone tell me what support dependency I should be using?

[2018-07-23 14:52] JoaquimLey commented on #43
@th-m I've never tried to add react-native with this component, but I would say this is not directly related to the component.

The component works fine in a _normal_ Android environment, so I would suggest searching for cues on similar _hybrid_ projects.

[2018-08-03 10:25] esparham opened #49 "compatibility issue"
Library is not compatible to appcompat 27+.

[2018-08-05 00:35] JoaquimLey commented on #49
Yes, it is.

Can you please provide more context and or a stacktrace?  :)

Thanks

[2018-08-05 06:42] esparham commented on #49
Dear Ley,
As I checked, there is some issue regarding version 1.2.0 of your library.
In version 1.2.0, after adding fab in layout, nothing happens.
And library is not compatible to appcompat version 27+. I will send you log
cat.

Some scree shots are attached.

Thank you :-)

On Sun, Aug 5, 2018 at 5:05 AM Joaquim Ley <notifications@github.com> wrote:

[2018-08-20 14:09] JoaquimLey commented on #49
Hi there @esparham still haven't gotten any logs and or screenshots :)

[2018-08-30 22:02] danielidt commented on #43
Ok guys, I think i fixed it. I had to add `implementation 'com.android.support:appcompat-v7:26.0.2'` to my dependencies in file` app/build.gradle`

I was using `compileSdkVersion = 27` and found that I could keep that as well. it also works with `compileSdkVersion = 26`

It also works with other versions of `implementation 'com.android.support:appcompat-v7:{version}'` included as long as `26.0.2`

[2018-09-07 18:41] lekeope opened #50 "Must always have four options"
is there a way to override the mandatory four options?

[2018-09-11 21:17] JoaquimLey commented on #50
Hi @edge-developer.

What limitations did you face with setting up the buttons?

There **isn't** a requirement for 4 buttons 🤔

[2018-09-11 21:34] #49 closed, assigned to nobody

[2018-09-15 19:10] JoaquimLey commented on #50
Do you feel ok closing this issue @Edge-Developer?

[2018-09-15 20:45] lekeope commented on #50
No man. Thanks for creating this awesome library.

What i mean is that, the FAB always requires 4 options in order not to look distorted

[2018-09-15 20:54] lekeope commented on #50
I love your work as it is, but i am wondering if there's a way to avoid making it distorted when you don't have four options.

[2018-09-16 11:06] raffygumangan opened #51 "What causes Unknown constant tag 114 in class file?"
My project does not synchronize and showing error on build window.

Yesterday I finish releasing version 2 of my app and then opening today it does not build.

    Unknown constant tag 114 in class file groovyjarjarasm/asm/MethodWriter

Apply ijinit.gradle

    org.gradle.api.GradleScriptException: A problem occurred evaluating initialization script.
	at org.gradle.groovy.scripts.internal.DefaultS

[2018-09-16 14:48] JoaquimLey commented on #51
Are you running javascript on your project?
I made this library with pure native code in mind, there's no support on hybrid solutions since I never used or tested :|

Try googling that same issue, I just did and there might me some pointers.

Let me know how it goes, for both positive and negative I can try and help you out, if not feel free to close the issue (post a comment with your possible so

[2018-09-16 14:50] JoaquimLey commented on #50
Hey @Edge-Developer,

Thanks for the kind words, means a lot! :)

Can you please tell me which version of the library you are using and which device? If possible post a screenshot showcasing the issue.

I had tested with both 2, 3, 4 and 6 buttons and the menu would size itself just fine, but you might've found a bug ;)

[2018-09-20 14:45] lekeope commented on #50
https://github.com/Edge-Developer/SampleFAB_OptionsBug

![screenshot_1537449687](https://user-images.githubusercontent.com/22748496/45826836-22af8780-bced-11e8-8fd9-56f272b3fffe.png)
![screenshot_1537449740](https://user-images.githubusercontent.com/22748496/45826839-23481e00-bced-11e8-9fe5-e85e337bf7b4.png)
![screenshot_1537454441](https://user-images.githubusercontent.com/22748496/45826840-23481

[2018-09-20 14:53] lekeope commented on #50
Code was ran on API 28.

Can you see what i am saying?

It seems there has to be an even number of menu options

[2018-09-23 16:40] JoaquimLey commented on #50
Hello @Edge-Developer,

Thank you so much for the screenshots, this helps to understand the issue. I might somewhat of an idea what's wrong and what might need changing.

It's not something super quick to fix since I'll need to implement a different way to calculate how the view should "grow".

It should be indirectly fixed when I implement directional menus #5

[2018-09-23 16:41] JoaquimLey commented on #51
@raffygumangan can you follow-up on this? Or can I close this issue? :)

[2018-09-24 19:31] lekeope commented on #50
No Problem. Even as it is, i'm grateful you took out the time to write the library, i'm using it in my upcoming project i'm rebranding Win Status Saver to (goo.gl/UBwbqy) to  A+ Status Saver which will soon be available goo.gl/iVB1iN.

[2018-10-13 22:01] #51 closed, assigned to JoaquimLey

[2018-10-21 14:57] TurKurT656 opened #52 "[Request] - OnLongClickListener"
Thnx for this great library.
how can I add long click event for my items?

[2018-10-21 18:09] JoaquimLey commented on #52
Hey, @TurKurT656 great suggestion. I'll make sure to include this when I make the new release. :)

[2018-10-21 21:21] TurKurT656 commented on #52
Thanks very much.
but the problem that I have is that I'm using this lib on my project and it's already released.
so can u update it soon or give me a temporary solution?

[2018-10-24 09:03] drottsgard opened #53 "Exception android.widget.ImageView cannot be cast to android.support.v7.widget.AppCompatImageView"
I've been trying to implement your Floating Action Button. I've followed the instructions you've made. When I try to run my app I get: **Caused by: java.lang.ClassCastException: android.widget.ImageView cannot be cast to android.support.v7.widget.AppCompatImageView**

I'm not sure if it's something on my side, or on the main source code. The error is pointing at line 52 in your FabOptionsContainer

[2018-10-24 09:09] JoaquimLey commented on #53
Hey @alexdrottsgard
Have you tried to clean your project and build again?

[2018-10-24 09:09] JoaquimLey commented on #52
Hey @TurKurT656
I'll update the library when I have time to do so, you can follow this issue to know the status :)

[2018-10-24 09:19] drottsgard commented on #53
Yeah I have..

[2018-10-25 21:22] JoaquimLey commented on #53
This shows a missing library if you read the error message carefully.
Also, I would need a little more context/code to understand what might be happening, which version are you importing from gradle?

[2018-10-26 09:09] drottsgard commented on #53
Yeah sorry! I have a Google Map Activity, on which I put your FAB. I've made the menu xml and I put it programmatically in my MapsActivity. My layout is a FrameLayout, which has the map fragment and the FAB.

How I make my menu item:

[code]
I have also tried to do:
[code]

My onCreate, where I put the menu to the FAB:
[code]

Version in my gradle:
[code]

[2018-12-03 13:46] abduldblogger opened #54 "Menu icons or menu can't be changed programmatically"
First of all, thanks for making this fabulous library!

I am using version **1.2.0** and facing some issues:

1. There is no method to change menu icons programmatically.
2. When I tried to overcome this issue by using 2 different menus which hold different icons, I was able to change menu, but UI was distorted.

![menu opened first time](https://user-images.githubusercontent.com/5370619/49377285-

[2018-12-05 09:21] JoaquimLey commented on #54
Hey @abduldblogger,

Thanks for the detailed issue. Have you tried to use a `selector` instead? You are right I haven't made it possible to change the icons at runtime, but I'm pretty sure you can accomplish this that way ;).

[2018-12-05 12:28] usergoodvery opened #55 "requestLayout() improperly called by com.joaquimley.faboptions.FabOptionsButtonContainer"
Hi,
I am not clear yet as to how to approach debugging these logcat messages. I was wondering if you have insight as to what might be causing them? I am running this on ANdroid 8 api 26.

12-05 23:20:59.404 W/View: requestLayout() improperly called by com.joaquimley.faboptions.FabOptionsButtonContainer{95c26c2 V.E...... ......ID 0,70-579,186 #7f09017c app:id/faboptions_button_container} during lay

[2018-12-07 07:22] abduldblogger commented on #54
Hi @JoaquimLey,

thanks for replying, sorry I can't get it, how to use "selector", can you show some demo?

[2018-12-07 07:45] JoaquimLey commented on #54
You can google that :)

- https://developer.android.com/guide/topics/resources/color-list-resource

[2018-12-07 08:47] abduldblogger commented on #54
ohh, got it, but that is basically used for buttons, that has some states, like focused, pressed, default etc, but how in menu? , I have 2 states only, either favorite or unfavorite, hence I have to used 2 different images (heart image), I hope you understood the issue...

[2018-12-07 09:19] JoaquimLey commented on #55
Hi @usergoodvery,
Thanks for opening this issue. I'll look into it later today 👍

[2018-12-07 09:41] usergoodvery commented on #55
Thanks. I just noticed these layout messages _do not_ appear on Android 7.0 api 24

[2018-12-13 12:49] JoaquimLey commented on #54
Yes it is possible hehe :)

- https://stackoverflow.com/a/23795983/3374428

[2018-12-13 13:08] JoaquimLey commented on #54
@abduldblogger Do you think I can close this issue?

[2018-12-13 13:10] JoaquimLey commented on #53
Can you provide the list of your other dependencies?

[2018-12-13 13:12] JoaquimLey commented on #55
That's quite strange, I'll have to make some testing and probably update the underlying layout to make it more performant, I'll also update it to use the `androidx` package instead.

[2018-12-13 13:12] abduldblogger commented on #54
@JoaquimLey , that solution is when you press any menu item and then release, so you will see default and pressed state (different icons for example), for the moment when your thumb is on the menu, but afterward it will come back to normal on removing the touch, what I want to achieve is after pressing the menu item, change the menu icon permanently...I hope I am able to explain you

For better un

[2018-12-13 13:35] abduldblogger commented on #53
@alexdrottsgard I think issue is here:

[code]

you are using srcCompat and this is causing the issue in Casting from normal image to srcCompat image

[2019-01-22 12:36] JoaquimLey commented on #53
Oh I haven't tested with `srcCompat` in the menu, I'm not sure if it works tbh.
But can't you use the same as the sample?
- https://github.com/JoaquimLey/faboptions/blob/development/sample/src/main/res/menu/menu_faboptions.xml

[2019-01-22 12:37] JoaquimLey commented on #54
Have you tried the solution with the selectors?

[2019-02-15 05:24] badboy-tian opened #56 "Hi, how to custom the overflow button ?"
I replace the overflow button
[code]

![image](https://user-images.githubusercontent.com/2835129/52836233-e01b9b00-3124-11e9-9151-76996042f61d.png)

But when i click the button, crash
![image](https://user-images.githubusercontent.com/2835129/52836253-f590c500-3124-11e9-9dac-ba057eab220f.png)

Do you know why ?

[2019-03-29 07:35] Rudra-n-khatri opened #57 "change the Image of the Fab."
Is there any way to change the Image of the Floating action button in the middle. Its by default the three dots.

[2019-03-29 08:33] JoaquimLey commented on #56
"Can't morph from <.....>"

This component currently doesn't support custom icons as it was done from a design concept to that specific use case. But seems like your Vector doesn't have the same number of actions.

[2019-03-29 08:33] #56 closed, assigned to JoaquimLey

[2019-04-17 22:55] mhrlive opened #58 "keep menu open !"
I want to keep the menu open after menu item tap !

[2019-04-23 09:56] JoaquimLey commented on #58
Hello, @mhrlive isn't this something you could probably extend? Or maybe push a PR? :)

As this is based on the concept (see README) and this isn't a feature planned for.

[2019-06-06 07:39] usergoodvery commented on #55
Hi There was wondering if you have gotten ahead with this?

[2020-05-08 01:15] lekeCoder opened #59 "Increase button menu icon size"
Thank you for this library. I will like to increase the icon size of the button menus. It seems to have a fixed menu size. Can the button menu icon size be increased?

[2020-06-08 11:26] JoaquimLey commented on #59
Hello.
No, it can't be resized, you could always extend the component or submit a PR.

[2020-06-08 11:26] #58 closed, assigned to nobody

[2020-06-08 11:27] JoaquimLey commented on #57
No, the component is based on that example, you can extend and set the drawable yourself in the FAB component it is exposed.

[2020-06-08 11:27] #57 closed, assigned to nobody